@import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Manrope:wght@800&display=swap');
*{
    box-sizing: border-box;
}
body {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    background-color: #0e121f;
    min-height: 100vh;
    min-width: 100vw;
    color: #e3dded;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    row-gap: 2rem;
    place-content: center;
    padding: 0 1rem;
    place-content: center;
    position: relative;
}

header{
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

#appTitle{
    text-align: center;
    display: block;
    font-size: 3rem;
}

.iconHolder{
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 40rem;
    overflow: hidden;
    z-index: -1;
}

#movieIcon{
    font-size: 30rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .06;
}

#genreForm, #playBtn {
    place-content: center;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
    margin: 0px auto;
    display: flex;
}

#movieInfo {
    display: grid;
    gap: 1em;
    max-width: 950px;
    margin: 0 auto;
    justify-content: stretch;
    align-items: center;
}

#moviePoster{
    width: fit-content;
    justify-self: center;
}

img#moviePoster {
    width:  100%;
    max-width: 500px;
    border-radius: 1rem;
}

#movieText {
    color: #e9e9e9;
    line-height: 1.5;
    justify-self: center;
}

#movieTitle, #movieOverview {
    padding:  32px;
}
#movieTitle{
    font-family: 'Abril Fatface', cursive;
}
#movieOverview {
    font-family: 'Abel', sans-serif;
}
#playBtn {
    margin-top: 20px;
    font-size: 1.6rem;
    padding: 7px 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #7328b9;
    color: #fdc238;
    cursor:  pointer;
}

label {
    display: block;
    font-size: 2.1rem;
    margin-bottom: 5px;
}

select {
    width: 100%;
    max-width: 480px;
    padding: .7rem;
    border-radius: .2rem;
    background-color: #1d243b;
    border: none;
    color: #ffffff;
    height: auto;
}

#likeOrDislikeBtns {
    gap: 1rem;
    margin: 0px auto;  
}

#likeBtn, #dislikeBtn {
    padding: .5rem;
    font-size: 1.8rem;
    border-radius: 5rem;
    outline: 3px solid rgb(74, 74, 74);
    border: none;
    color: rgb(74, 74, 74);
    cursor:  pointer;
    background-color: transparent;
}

#likeBtn {
    margin-right: .5rem;
}

#dislikeBtn {
    margin-left: .5rem;
}

#likeBtn:hover{
    color: rgb(0, 174, 12);
}
#dislikeBtn:hover {
    color: red;
}

@media screen and (min-width: 310px){
    #movieInfo{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 730px){
    #movieInfo{
        grid-template-columns: repeat(2, 1fr);
    }
}